<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
    <script src="https://www.parsecdn.com/js/parse-1.1.2.min.js"></script>

    <title><%= @app['name'] %></title>
    <link rel="stylesheet" href="stylesheets/screen.css" media="Screen" type="text/css" />
    <link rel="stylesheet" href="stylesheets/mobile.css" media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" type="text/css" />

    <!--[if IEMobile]>
    <link rel="stylesheet" href="mobile.css" media="screen" type="text/css"  />
    <![endif]-->

    <!-- These are Open Graph tags.  They add meta data to your  -->
    <!-- site that facebook uses when your content is shared     -->
    <!-- over facebook.  You should fill these tags in with      -->
    <!-- your data.  To learn more about Open Graph, visit       -->
    <!-- 'https://developers.facebook.com/docs/opengraph/'       -->
    <meta property="og:title" content="<%= @app['name'] %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url %>" />
    <meta property="og:image" content="<%= url('/logo.png') %>" />
    <meta property="og:site_name" content="<%= @app['name'] %>" />
    <meta property="og:description" content="My First App" />
    <meta property="fb:app_id" content="<%= @app['name'] %>" />

    <script type="text/javascript" src="/javascripts/jquery-1.7.1.min.js"></script>
    <!--[if IE]>
      <script type="text/javascript">
        var tags = ['header', 'section'];
        while(tags.length)
          document.createElement(tags.pop());
      </script>
    <![endif]-->
  </head>
  <body>
    <div id="fb-root"></div>
    <script type="text/javascript">
    window.fbAsyncInit = function() {
        FB.init({
          appId      : "<%= @app['id'] %>",                     // App ID
          channelUrl : "<%= url_no_scheme('/channel.html') %>", // Channel File
          status     : true,                                    // check login status
          cookie     : true,                                    // enable cookies
          xfbml      : true                                     // parse XFBML
        });

        FB.Event.subscribe('auth.login', function(response) {
          window.location = window.location;
          console.log(response.status)
        });
        /*
        FB.Event.subscribe('auth.authReponseChange', function(response) {
            console.log(response.status)
        });
        FB.Event.subscribe('auth.authReponseChange', function(response) {
            console.log(response.status)
        });
        */

        FB.Canvas.setAutoGrow();

        FB.getLoginStatus(function(response) {
            if (response.status === 'connected') {
                var uid = response.authResponse.userID;
                var accessToken = response.authResponse.accessToken;
                console.log('logged in')
                $('#share').show()
            } else if (response.status === 'not_authorized') {
                // the user is logged in to Facebook, 
                // but has not authenticated your app
                console.log('not authorized')
                $('#infoForm').show()
            } else {
                // the user isn't logged in to Facebook.
                console.log('not logged in')
                $('#infoForm').show()
            }
        });
      };
    </script>
    <script type="text/javascript"src="/javascripts/app.js"></script>
    <script type="text/javascript">
    // Load the SDK Asynchronously
     (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>

        <div id="toolbar" class="navbar navbar-fixed-top">
            <div class="dom-body-text">
              <p>Plunder</p>
            </div>
        </div>
        <div id="bar"></div>
        <div id="background">
            <div id="infoForm" style="display:none;">
                <p>  Big brands. Even bigger discounts.&#010;</p>
                <p style="margin-top:5px;margin-bottom:10px;">
                    Up to 80% off top designer fashions, accessories, beauty and home décor
                </p>
                <center>
                    <img src="images/fb.png" onclick="the_login()" />
                    <input type="text" id="firstName" placeholder="First Name" /><br />
                    <input type="text" id="lastName" placeholder="Last Name" /> <br />
                    <input type="text" id="email" placeholder="Email" /> <br />
                    <input type="text" id="password" placeholder="Password" /> <br />
                    <input type="text" id="gender" placeholder="Gender" /> <br />
                    <input type="text" id="country" placeholder="Country" />
                    <a href="#" onclick="userSave()" class="btn btn-primary"><p style="color:white;">See The Deals!</p></a>
                </center>
            </div>
            <center>
            <div id="share" class="hero-unit" style="display:block">
                <p>Thanks! Share With As Many Friends As Possible To Get Early Entry</p>
            </div>
            </center>
  </body>
</html>
